// page transition
.page-enter-active {
  transition: all 0.1s ease-out;
}
.page-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.page-enter-from,
.page-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

// layout transition
.layout-enter-active {
  transition: all 0.1s ease-out;
}
.layout-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.layout-enter-from,
.layout-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}


.swipe-right-enter-active {
  transition: all 0.3s ease-in;
}

.swipe-right-leave-active {
  transition: all 0.3s ease-out;
}

.swipe-right-enter-from,
.swipe-right-leave-to {
  transform: translateX(50%);
  opacity: 0;
}

.swipe-left-enter-active {
  transition: all 0.3s ease-in;
}

.swipe-left-leave-active {
  transition: all 0.3s ease-out;
}

.swipe-left-enter-from,
.swipe-left-leave-to {
  transform: translateX(-50%);
  opacity: 0;
}