// page transition
.page-enter-active {
  transition: all 0.1s ease-out;
}
.page-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.page-enter-from,
.page-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

// layout transition
.layout-enter-active {
  transition: all 0.1s ease-out;
}
.layout-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.layout-enter-from,
.layout-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}


.swipe-right-enter-active {
  transition: all 0.3s ease-in;
}

.swipe-right-leave-active {
  transition: all 0.3s ease-out;
}

.swipe-right-enter-from,
.swipe-right-leave-to {
  transform: translateX(50%);
  opacity: 0;
}

.swipe-left-enter-active {
  transition: all 0.3s ease-in;
}

.swipe-left-leave-active {
  transition: all 0.3s ease-out;
}

.swipe-left-enter-from,
.swipe-left-leave-to {
  transform: translateX(-50%);
  opacity: 0;
}


.swipe-show-enter-active {
  transition: all 0.3s ease-out;
}
.swipe-show-leave-active {
  transition: all 0.3s ease-out;
}
.swipe-show-enter-from,
.swipe-show-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

.pops-enter-active, .pops-leave-active {
	transition: all 0.2s ease-in-out;
  z-index: 101;
}

.pops-leave-active {
  transition-delay: 0.15s;
}

.pops-enter-from,
.pops-leave-to {
  opacity: 0;
}

.pops-enter-active .pops__container,
.pops-leave-active .pops__container {
  transition: all 0.3s ease-in-out;
}

.pops-enter-active .pops__container {
	transition-delay: 0.2s;
}

.pops-enter-from .pops__container,
.pops-leave-to .pops__container {
  transform: translateY(20px);
  opacity: 0.001;
}