.featuredAuthor
  .list
    display: flex
    flex-direction: column
    gap: 10px
    padding: 0 10px
  .info
    display: grid
    grid-template-columns: 3rem 1fr auto
    align-items: center
    gap: 10px
    padding: 10px
    .avatar
      position: relative
      display: block
      height: 3rem
      border-radius: 50%
      overflow: hidden
      .img
        display: block
        width: 100%
        height: 100%
        object-fit: cover
    .title
      line-height: 1.2
      overflow: hidden
      .name
        display: flex
        align-items: center
        gap: 4px
        > p
          font-size: var(--fontSize-m)
          margin: 0
          @include single_ellipsis
      > span
        font-size: var(--fontSize-s)
        color: #77787C
    .btn.btn__focus
      padding-top: 8px
      padding-bottom: 8px

.authorPersonal
  .content__top
    display: flex
    padding: 10px 20px
    gap: 20px
    .avatar
      position: relative
      display: block
      width: 5rem
      height: 5rem
      border-radius: 50%
      overflow: hidden
      .img
        display: block
        width: 100%
        height: 100%
        object-fit: cover
    .info
      display: flex
      flex-wrap: wrap
      flex: 1
      .interactionNum
        display: flex
        flex-direction: column
        align-items: center
        flex: 1
        gap: 2px
        + .interactionNum
          position: relative
          &::before
            content: ''
            display: block
            background-color: #6F6F6F
            width: 1px
            height: 60%
            position: absolute
            top: 50%
            left: 0
            transform: translateY(-50%)
        .num
          font-size: var(--fontSize-l)
        .title
          color: #6F6F6F
      .btn__focus
        width: 100%
        padding: 10px 12px
        margin-top: 20px
  .content__bottom
    .pageTab
        padding: 10px 10px 20px 10px

.swiper-slide
  display: flex
  flex-direction: column

.sectionAuthor
  .author__info
    .info
      display: grid
      grid-template-columns: 5rem 1fr
      align-items: center
      gap: 20px
      padding: 20px
      .avatar
        position: relative
        display: block
        height: 5rem
        border-radius: 50%
        overflow: hidden
        .img
          display: block
          width: 100%
          height: 100%
          object-fit: cover
      .title
        line-height: 1.2
        overflow: hidden
        .name
          display: flex
          align-items: center
          gap: 4px
          > p
            font-size: var(--fontSize-m)
            font-weight: bold
            margin: 0
            @include single_ellipsis
        .level
          display: flex
          align-items: center
          justify-content: space-between
          margin-top: 10px
          .level__card
            display: inline-flex
            align-items: center
            gap: 4px
            font-size: var(--fontSize-s)
            background: linear-gradient(180deg, #292E41 0%, #1E1F31 100%)
            border-radius: 8px
            padding: 4px 10px
            .icon__level
              width: 20px
              height: 20px
          .expiry__date
            color: #a4a5ae