.community__wrap
  // .pageHeader
  //   position: relative
  //   &::before
  //     content: ''
  //     width: 100%
  //     border-bottom: 2px solid #000
  //     position: absolute
  //     bottom: 0
.sectionCommunity
  .list
    display: flex
    flex-direction: column
    gap: 10px
    padding: 0 10px
  .description
    line-height: 1.6
    padding: 10px 6px
    a
      color: var(--color-pink)
    p + p
      margin-top: 4px
  .preview
    position: relative
    display: block
    width: 100%
    .img__list
      display: grid
      grid-template-columns: repeat(auto-fill,minmax(30%,1fr))
      gap: 6px
      .img
        display: inline-grid
        background: #0a0b0e center / cover no-repeat
        border-radius: 6px
        padding-top: 100%
        &:first-child
          grid-column-start: 1
          grid-column-end: 4
          grid-row-start: 1
          grid-row-end: 3
        &:last-child
          position: relative
          .number
            font-size: 30px
            font-weight: bold
            color: #fff
            text-shadow: 0 0 8px rgb(0 0 0 / .3)
            position: absolute
            top: 50%
            left: 50%
            transform: translate3d(-50%, -50%, 0)
            z-index: 2
            &::before
              content: '+'
  .tags
    margin-top: 10px
    .tag__list
      .list__item
        width: auto
        .btn
          color: #6F6F6F
          background-color: transparent
          padding: 0
          .tag::before
            content: '#'
            display: inline
            color: var(--color-pink)
            padding-right: 2px
            opacity: 0.4
  .info
    display: grid
    grid-template-columns: 36px 1fr auto
    align-items: center
    gap: 10px
    padding: 10px 0
    .avatar
      position: relative
      display: block
      height: 36px
      border-radius: 50%
      overflow: hidden
      .img
        display: block
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center
    .title
      line-height: 1.2
      overflow: hidden
      .name
        display: flex
        align-items: center
        gap: 4px
        > p
          font-size: var(--fontSize)
          margin: 0
          @include single_ellipsis
      > span
        font-size: var(--fontSize-xs)
        color: #77787C
  .interaction
    padding: 2px 10px


.sectionCommunityDetail
  .community__top
    display: flex
    flex-direction: column
    gap: 10px
    padding: 0 10px
    .description
      line-height: 1.6
      padding: 10px 6px
      a
        color: var(--color-pink)
      p + p
        margin-top: 4px
    .preview
      position: relative
      display: block
      width: 100%
      .img__list
        display: grid
        gap: 6px
        .img
          display: inline-grid
          background: #0a0b0e center / contain no-repeat
          border-radius: 6px
          padding-top: 100%
    .tags
      margin-top: 10px
      .tag__list
        .list__item
          width: auto
          .btn
            color: #6F6F6F
            background-color: transparent
            padding: 0
            .tag::before
              content: '#'
              display: inline
              color: var(--color-pink)
              padding-right: 2px
              opacity: 0.4
    .info
      display: grid
      grid-template-columns: 36px auto 60px
      align-items: center
      gap: 10px
      padding: 10px 0
      .avatar
        position: relative
        display: block
        height: 36px
        border-radius: 50%
        overflow: hidden
        .img
          display: block
          width: 100%
          height: 100%
          object-fit: cover
          object-position: center
      .title
        line-height: 1.2
        overflow: hidden
        .name
          display: flex
          align-items: center
          gap: 4px
          > p
            font-size: var(--fontSize)
            margin: 0
            @include single_ellipsis
        > span
          font-size: var(--fontSize-xs)
          color: #77787C
    .interaction
      padding: 2px 10px
  .communityDetailInfo
    display: flex
    flex-direction: column
    gap: 10px
    padding: 20px 10px 10px
    .tag__list
      .list__item
        width: auto
        .btn
          padding-top: 6px
          padding-bottom: 6px
          .title
            font-size: var(--fontSize-s)
    .detail
      display: flex
      font-size: var(--fontSize-xs)
      color: #77787C