.discover__wrap
  .content
    margin-bottom: 0
    overflow: hidden

.sectionDiscoverVideo
  height: 100%
  .item
    display: grid
    grid-template-rows: 1fr auto auto
    height: 100%
  .floating
    display: flex
    flex-direction: column
    gap: 6px
    position: absolute
    right: 6px
    bottom: 20%
    z-index: 9
    .floating__btn
      display: block
      border-radius: 14px
      padding: 10px
      .icon
        width: 22px
        height: 22px
    .floating__love
      background: rgb(0 0 0 / 40%)
      border: 1px solid rgb(67 78 106 / 30%)
    .floating__money
      background: linear-gradient(180deg, #C9278C 0%, #9131D1 100%)
      // border: 1px solid rgb(67 78 106 / 50%)
  .preview
    position: relative
    display: block
    width: 100%
    @include preview_hasPlay
    .title
      position: absolute
      top: 6px
      left: 6px
      > p
        @include multiline_ellipsis
    .view
      font-size: var(--fontSize-xs)
      color: #B7B7B7
      position: absolute
      left: 6px
      bottom: 14px
    .img
      display: block
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
  .info
    display: grid
    grid-template-columns: 2.5rem auto auto
    align-items: center
    gap: 6px
    padding: 10px
    .avatar
      position: relative
      display: block
      height: 2.5rem
      border-radius: 50%
      overflow: hidden
      .img
        display: block
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center
    .title
      line-height: 1.2
      overflow: hidden
      .name
        display: flex
        align-items: center
        gap: 4px
        > p
          font-size: var(--fontSize)
          @include single_ellipsis
      > span
        font-size: var(--fontSize-xs)
        color: #77787C
  .interaction
    padding-left: 10px
  .videoTitle
    padding: 10px 10px 20px 10px