$developer: 0
@if $developer == true
  header
    border: 1px solid red
  main
    border: 1px solid yellow
  .tabbar
    border: 1px solid blue

html, body
  height: 100%
  scroll-behavior: smooth

#__nuxt, #root
  height: 100%

html
  color: #fff
  background-color: #111117
  background-size: 100%
  margin-top: env(safe-area-inset-top)
  padding-left: env(safe-area-inset-left)
  padding-right: env(safe-area-inset-right)

body
  width: 100%
  max-width: 576px
  font-size: var(--fontSize)
  margin: 0 auto

img
  max-width: 100%

input
  outline: 0

// - avatar
$vips:("1":#bdbddb, "2":#f6eea5, "3":#76748e, "4":#e7a85d)
.avatar
  display: block
  position: relative
  img, .img
    display: block
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center
    border-radius: 50%
    overflow: hidden
  &.vip
    img, .img
      border: 1px solid
    &::before
      content: ''
      display: block
      width: 18px
      height: 14px
      background: center / contain no-repeat
      position: absolute
      top: -10px
      left: 50%
      transform: translateX(-50%)
    @each $value, $color in $vips
      &.vip__level#{$value}
        img, .img
          border: 1px solid $color
          position: absolute
        &::before
          background-image: url(/_nuxt/assets/img/ic_mem_corwn_#{$value}.png)

#root
  background-color: #1C1D2E

.wrap
  display: flex
  flex-direction: column
  height: 100%

.container
  display: flex
  flex-direction: column
  height: 100%
  background-color: #111117
  overflow: hidden

.main
  height: 100%
  overflow: auto
  > .content
    height: 100%

.searchHeader,
.pageHeader,
.featuredTab,
.dialog__header
  max-height: none
  transition: all .3s ease-in-out
  &.none
    max-height: 0
    transform: translateY(-100%)
    overflow: hidden

.footerTabbar,
.dialog__footer
  max-height: none
  transition: transform .2s ease-in-out, max-height .5s ease
  &.none
    max-height: 0
    transform: translateY(100%)
    overflow: hidden




.featuredTab
  display: flex
  align-items: center
  justify-content: space-between
  flex: 1 0 2.5rem
  gap: 4px
  .featuredTab__list
    width: 100%
    overflow-y: hidden
    .list
      display: flex
      flex-wrap: nowrap
      gap: 6px
      height: 2.5rem
      padding-left: 8px
      overflow-y: hidden
      li
        white-space: nowrap
        a
          display: block
          font-size: var(--fontSize-m)
          color: #5F6577
          padding-right: 4px
          span
            display: block
            border-radius: 8px
            padding: 5px 16px
        &.current
          span
            color: #fff
            background: linear-gradient(90deg, #d22785, #a82dba)
  .featuredTab__btn
    width: 2.75rem
    height: 2.5rem
    padding-right: 6px
    img
      height: 80%

.featuredPart
  display: flex
  justify-content: space-between
  gap: 10px
  padding: 0 8px 10px 8px
  .btn
    flex: 1


// - section
.section
  margin-bottom: 10px
  + .section
    margin-top: 20px
  .section__title
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 10px
    margin: 10px 0
    &.title-center
      justify-content: center
      margin-bottom: 20px
      position: relative
      &::before,
      &::after
        content: ''
        display: block
        width: 30%
        height: 1px
        background-color: rgb(95 101 119 / .3)
        position: absolute
        top: 50%
        transform: translateY(-50%)
      &::before
        left: 0
      &::after
        right: 0
      .title
        font-size: var(--fontSize-m)
    .title
      font-size: var(--fontSize-l)
      > span
        color: #6F6F6F
    .btn__clear
      color: #6F6F6F
      padding: 0 6px
    .btn__more
      color: #6F6F6F
      &:after
        content: ''
        display: inline-block
        vertical-align: middle
        width: 13px
        height: 13px
        background: url(/_nuxt/assets/img/ic_more.svg) no-repeat
        background-size: 100%
        position: relative
        top: -1px
        margin-left: 4px
    .btn__sort
      height: 22px
      img
        height: 100%
.sectionButton
  margin: 0


// - tag
$colors:("red":#f56c6c, "green":#67c23a, "gray":#6F6F6F)
.btn__tags
  font-size: var(--fontSize-s)
  color: #fff
  border: 1px solid rgba(95, 101, 119, 0.3)
  border-radius: 3px
  padding: 4px 8px
@each $value, $color in $colors
  .text-#{$value}
    color: $color
  .btn__tags-#{$value}
    color: $color
    border: 1px solid darken($color, 30%)

// - tag list
.tag__list
  display: flex
  flex-wrap: wrap
  gap: 10px
  .list__item
    width: calc(100% / 3 - 7px)
    overflow: hidden
    .btn
      display: block
      text-align: center
      // background-color: #2a2a2b
      background-color: #1d2028
      border-radius: 30px
      padding: 12px
    .title
      .tag
        color: #ccc
        @include single_ellipsis

// - tabs
.pageTab
  display: flex
  align-items: center
  justify-content: space-between
  gap: 4px
  &.pageTab-center
    .pageTab__list
      display: flex
      justify-content: center
      .list a
        font-size: var(--fontSize-m)
      margin-bottom: 20px
  .pageTab__list
    width: 100%
    overflow-y: hidden
    .list
      display: flex
      flex-wrap: nowrap
      gap: 6px
      overflow-y: hidden
      li
        white-space: nowrap
        a
          display: block
          font-size: var(--fontSize)
          color: #5F6577
          padding-right: 4px
          span
            display: block
            border-radius: 8px
            padding: 5px 16px
        &.current
          span
            color: #fff
            background: linear-gradient(90deg, #d22785, #a82dba)

.detailTab
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: 1px solid rgb(95 101 119 / 30%)
  padding: 2px 16px 0 0
  .detailTab__list
    .list
      display: flex
      li
        font-size: var(--fontSize-m)
        color: #6F6F6F
        .btn
          display: block
          padding: 16px
        &.current
          color: var(--color-pink)

// - form
.form
  .form__input
    display: flex
    align-items: center
    width: 100%
    height: 38px
    border-radius: 30px
    padding: 0 20px
    input
      height: 100%
    img
      height: 38px
      padding: 10px 0
  .form__button
    .btn
      padding: 10px

//- input: radio
input[type=radio]
  margin: 0
  max-width: 100%
  height: auto
  font-family: inherit
  font-size: inherit
  line-height: inherit
  color: #1b1b1b
  appearance: none
  border: 0.08em solid #ccc
  width: 20px
  height: 20px
  border-radius: 50%
  &:checked
    background-image: url("data:image/svg+xml,%3Csvg height='32' width='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11.4 21.5-5.93-5.93-2.01 2.01 7.94 7.94 17.1-17.1-2.01-2.01z' fill='%23fff'/%3E%3C/svg%3E")
    background-size: 80% 80%
    background-position: center
    background-repeat: no-repeat
    background-color: #00a1e9
    border-color: #00a1e9

// - button
.button__group
  display: flex
  gap: 10px
  padding: 0 20px 20px
.btn
  display: block
  border: 0
  white-space: nowrap
  &.disabled
    color: #6F6F6F
    background: #2a2a2b
  &.btn__delet
    color: #6F6F6F
    &::before
      content: ''
      display: inline-block
      vertical-align: middle
      width: 16px
      height: 18px
      background: url(/_nuxt/assets/img/ic_delet.svg) no-repeat center / contain
      margin-right: 4px
      position: relative
      top: -2px
  &.btn__edit
    color: #6F6F6F
    &::before
      content: ''
      display: inline-block
      vertical-align: middle
      width: 16px
      height: 16px
      background: url(/_nuxt/assets/img/ic_edit.svg) no-repeat center / contain
      margin-right: 6px
      position: relative
      top: -2px
  &.btn__reports
    font-size: var(--fontSize-s)
    color: #6F6F6F
    background-color: #1e2028
    border-radius: 30px
    padding: 4px 10px
    &::before
      content: ''
      display: inline-block
      vertical-align: middle
      background: url(/_nuxt/assets/img/ic_reports.svg) no-repeat center / contain
      width: 12px
      height: 12px
      margin-right: 2px
      position: relative
      top: -2px
  &.btn__add
    font-size: var(--fontSize-s)
    background: linear-gradient(0, #a82dba, #d22785)
    border-radius: 30px
    padding: 10px 18px
  &.btn__checked
    flex: 1
    background: linear-gradient(0, #a82dba, #d22785)
    border-radius: 30px
    padding: 10px 18px
  &.btn__payment,
  &.btn__buy,
  &.btn__share
    width: 100%
    background: linear-gradient(0, #a82dba, #d22785)
    border-radius: 50px
    padding: 10px 18px
  &.btn__payment
    font-size: var(--fontSize-m)
    padding: 12px 18px
  &.btn__share
    font-size: var(--fontSize-m)
    padding: 12px 18px
  &.btn__focus
    font-size: var(--fontSize-s)
    background: linear-gradient(0, #a82dba, #d22785)
    border-radius: 30px
    padding: 4px 18px
    &.hasFocus
      color: #72757e
      background: #1d2028
  &.btn__cancel
    flex: 1
    background: #2e333f
    border-radius: 30px
    padding: 10px 18px
  &.btn__regreat
    color: #6F6F6F !important
    background: #1d2028
    border-radius: 30px
  &.btn__more
    color: #6F6F6F

// - btn select
.btn
  &.btn__select
    min-width: 90px
    font-size: var(--fontSize-s)
    border: 1px solid rgb(95 101 119 / 30%)
    border-radius: 2px
    padding: 8px
    position: relative
    &.active
      border-color: #00a1e9
      &::before
        content: ''
        display: block
        width: 0
        height: 0
        border-style: solid
        border-width: 0 0 18px 20px
        border-color: transparent transparent #00a1e9 transparent
        position: absolute
        right: 0
        bottom: 0
      &::after
        content: ''
        display: block
        width: 14px
        height: 12px
        background-image: url("data:image/svg+xml,%3Csvg height='32' width='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11.4 21.5-5.93-5.93-2.01 2.01 7.94 7.94 17.1-17.1-2.01-2.01z' fill='%23fff'/%3E%3C/svg%3E")
        background-size: 100%
        background-position: center
        background-repeat: no-repeat
        position: absolute
        right: 0
        bottom: 0


// - dot
i.dot
  &::after
    content: ''
    display: inline-block
    vertical-align: middle
    width: 3px
    height: 3px
    background-color: #77787C
    border-radius: 50%
    margin: 0 4px

// - icon
.icon
  display: block
  width: 16px
  height: 16px
  line-height: 1
  background-repeat: no-repeat
  background-size: contain
  $list: ('love', 'message', 'share', 'view', 'great', 'reports')
  @each $icon in $list
    &.icon__#{$icon}
      background-image: url(/_nuxt/assets/img/ic_#{$icon}.svg)
  $list: ('love', 'share', 'money', 'message')
  @each $icon in $list
    &.icon__#{$icon}-w
      background-image: url(/_nuxt/assets/img/ic_#{$icon}_w.svg)
  $list: ('great', 'nogood', 'message')
  @each $icon in $list
    &.icon__#{$icon}-g
      background-image: url(/_nuxt/assets/img/ic_#{$icon}_g.svg)

.current .icon
  $list: ('love', 'great')
  @each $icon in $list
    &.icon__#{$icon}
      background-image: url(/_nuxt/assets/img/ic_#{$icon}_h.svg)


.icon__level
  width: 20px
  height: 20px
  background: center / contain no-repeat
  @for $var from 1 through 4
    &.icon__level#{$var}
      background-image: url(/_nuxt/assets/img/ic_mem_corwn_#{$var}.png)

.icon__vip
  background: center / 50% no-repeat
  @for $var from 1 through 6
    &.icon__vip#{$var}
      background-image: url(/_nuxt/assets/img/ic_mem_vip_#{$var}.svg)

.icon__coin
  width: 50px
  height: 50px
  @for $var from 1 through 4
    &.icon__coin#{$var}
      background: url(/_nuxt/assets/img/ic_coin_#{$var}.png) center / contain no-repeat

// - hr
.hr
  display: flex
  justify-content: center
  position: relative
  &::before,
  &::after
    content: ''
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 40%
    height: 1px
    background-color: rgb(219 219 219 / 50%)
  &::before
    left: 0
  &::after
    right: 0


// - font size
$font-size: ("lg": var(--fontSize-lg), "l": var(--fontSize-l), "m": var(--fontSize-m), "s": var(--fontSize-s))
@each $name, $size in $font-size
  .fontsize-#{$name}
    font-size: $size !important

// - font text-alian
$lists: ('center', 'left', 'right')
@each $value in $lists
  .text-#{$value}
    text-align: #{$value}


// - table
.table
  width: 100%
  border-spacing: 0
  th, td
    padding: 16px 2px
    &:first-child
      padding-left: 16px
    &:last-child
      padding-right: 16px
  th
    font-weight: normal
    font-size: var(--fontSize-s)
    color: #6F6F6F
  td
    border-bottom: 1px solid rgb(95 101 119 / 10%)