html, body {
  scroll-behavior: smooth;
}

html {
  font-size: 14px;
  color: #fff;
  background-color: #121117;
  // background: #121117 url(/_nuxt/assets/img/bg.jpg) no-repeat;
  background-size: 100%;
}

.container {
  height: 100%;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottpadding-bottom);
  margin-bottom: 80px;
}

.header .van-sticky--fixed {
  padding-top: env(safe-area-inset-top);
  background-color: #121117;
}

.searchHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 50px;
  .searchHeader__search {
    flex: 1;
    .search__input {
      display: flex;
      align-items: center;
      height: 30px;
      background-color: #1b1e2f;
      border-radius: 30px;
      padding: 0 15px;
      img {
        margin-right: 10px;
      }
      span {
        font-size: 13px;
        color: #585a6d;
      }
    }
  }
}

.featuredTab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  .featuredTab__list {
    width: 100%;
    overflow: hidden;
    .list {
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
      li {
        white-space: nowrap;
        a {
          display: block;
          color: #fff;
          padding: 4px;
          span {
            display: block;
            border-radius: 6px;
            padding: 4px 10px;
          }
        }
        &.active {
          span {
            background: linear-gradient(90deg, #d22785, #a82dba);
          }
        }
      }
    }
  }
}

.featuredPart {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid red;
}

.van-tabbar {
  .van-tabbar-item:nth-child(3) {
    transform: translateY(-10px);
    .van-icon-add:before {
      font-size: 40px;
    }
  }
}