$padding: 0.05em;

:root {
  --van-swipe-indicator-active-background: #b928a0 !important;
  --van-swipe-indicator-inactive-background: rgb(255 255 255 / .5) !important;

  --van-tabbar-item-text-color: rgb(96 98 110) !important;
  --van-tabbar-item-active-color: #fff !important;
  --van-tabbar-background: linear-gradient(180deg, #1C1D2E 0%, #1C1D2E 72.89%) !important;
  --van-tabbar-item-active-background: transparent !important;
  --van-border-width: 0 !important;
  --van-tabbar-item-font-size: 10px !important;
  --van-tabbar-item-icon-margin-bottom: 2px !important;
}